1.Upsampling
2.Downsampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [6]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

Upsampling

In [15]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
##upsampling perform 
from sklearn.utils import resample

In [19]:
df_minority_upsample=resample(df_minority,
                             replace=True, # sample with replacement
                             n_samples=len(df_majority), # to match the majority class
                             random_state=42
                             )

In [22]:
df_minority_upsample.shape

(900, 3)

In [23]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [24]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [25]:
df_upsample = pd.concat([df_majority,df_minority_upsample])

In [26]:
df_upsample['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [27]:
df_upsample.shape

(1800, 3)

##Downsampling

In [29]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [30]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [31]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [32]:
df_majority_downsample=resample(df_majority,
                             replace=False, # sample with replacement
                             n_samples=len(df_minority), # to match the majority class
                             random_state=42
                             )

In [33]:
df_majority_downsample.shape

(100, 3)

In [35]:
df_downsample = pd.concat([df_minority,df_majority_downsample])

In [36]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64