In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
#create a sample dataframe with a catedorical variable
df = pd.DataFrame({
     'color': ['red','blue','orange','orange','blue','red']
})

In [3]:
df

    color
0     red
1    blue
2  orange
3  orange
4    blue
5     red

In [4]:
#create an instance of one hot encoder
encoder = OneHotEncoder()

In [7]:
#fit the encoder to the dataframe and transforming the categorical variable 
encoded = encoder.fit_transform(df[['color']])

In [9]:
import pandas as pd
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [10]:
encoded_df

   color_blue  color_orange  color_red
0         0.0           0.0        1.0
1         1.0           0.0        0.0
2         0.0           1.0        0.0
3         0.0           1.0        0.0
4         1.0           0.0        0.0
5         0.0           0.0        1.0

In [12]:
pd.concat([df,encoded_df],axis=1)

    color  color_blue  color_orange  color_red
0     red         0.0           0.0        1.0
1    blue         1.0           0.0        0.0
2  orange         0.0           1.0        0.0
3  orange         0.0           1.0        0.0
4    blue         1.0           0.0        0.0
5     red         0.0           0.0        1.0